
  <% Blogs.forEach(blog => { %>
  <div class="container mt-4">
    <div class="card mb-5">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/Uploads/<%=blog.imageUrL %>" class="card-img-top" alt="Blog Image" style="width: 100%">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Title: <%= blog.title %></h5>
            <h5 class="card-authore">Author: <%= blog.author %></h5>
            <p class="card-content">Content: <%= blog.content %></p>
            <div class="card-footer bg-transparent border-success d-flex flex-direction-row justify-content-between">
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              <div class="card-button">
                <a href="/api/blogs/updatedblogs/<%=blog._id %>" class="btn btn-primary me-md-2" >Edit</a>
              <button class="btn btn-primary" onclick="deleteBlog('<%=blog._id %>')" type="button">Delete</i></button>
            </div>
            </div>
          </div>
        </div>
        </div>
      </div>
  </div>
  <% }) %>
